
.container {
  
  // border: 1px solid orange;

  // grid-area: main;        // 1 day ago

  padding: 26px;

}

.headerMain {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  position: relative;

}


.searchBar {
  // padding-inline-start: 16px;

  span {
    position: absolute;
    top: 32%;
    
    // bottom: 0;
    padding-inline-start: .5rem;

  }
}